<!DOCTYPE html>
<html lang="en">

<head>
  <title>Herramienta Instituto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0 user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>

  <section>
    <center>
      <div class="title">
        <h1 class="title-top">Herramienta</h1>
        <h1 class="title-bottom">Instituto</h1>
      </div>
  
      <div>
        <a href='/IniciarSesion'>Iniciar Sesion</a>
      </div>
      
      <div>
        <a href='/RegistrarUsuario'>Registrar Usuario</a>
      </div>
    </center>
  </section>

</body>

<bottom>
  <center>
    <div class="bottom">
      <a href="mailto:jdospina95@javerianacali.edu.co">
        <span class="yellow">©</span>
        <span class="yellow-with-darkyellow">Santiago Rengifo & Juan David Ospina</span></a>
    </div>
  </center>
</bottom>

</html>